#chat {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  display: relative;
}

#chat-content {
  height: 80vh;
  background: gainsboro;
  display: block;
  overflow: auto;
}

#chat-content p {
  margin: 0.5em 0 0.5em 0;
}

#chat #message {
  color: blue;
  display: inline-block;
  width: 70%;
  word-wrap: break-word;
}

#chat #date {
  color: green;
  float: right;
  display: inline-block;
}

#chat-button {
  display: block;
}

#chat-label {
  display: inline-block;
  height: 2em;
  width: 70%;
  margin: 0;
  padding: 0;
}

#submit-label {
  display: inline-block;
  width: 20%;
  height: 2.5em;
  margin: 0;
  padding: 0;
}

#logout {
  text-align: center;
}


